.card-schedule{
    margin: 0px;
    width: 100%;

    padding: 7px;
}

.button-schedule{
    --border-width:3px
}

.view-details{
    padding-left: 10px;
    padding-right: 10px;
}
ion-item {
    --background: rgba(0,0,0,0);
}