.schedule-view{
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 15px;

    background-color: white;
    padding: 10px;
    width: fit-content;
}

ion-item {
    --background: rgba(0,0,0,0);
}

.view-image{
    width: 100%;
    padding-top: 35px;
    padding-left: 85px;
    padding-right: 85px;
    padding-bottom: 35px;
}