<ion-header mode="md" class="ion-no-border background-primary" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" color="secondary">
      <ion-back-button text="" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" color="secondary">
      <ion-button >
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  
</ion-content>